<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Martin Malinda - Freelance JavaScript developer and creative coder</title>
  
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{meta.description}}">
  <meta name="twitter:description" content="{{meta.description}}">
  <meta property="og:description" content="{{meta.description}}">
  <meta itemprop="description" content="{{meta.description}}">
  <meta name="twitter:card" content="{{meta.description}}">
  <meta property="og:image" content="{{meta.image}}">
  <meta name="twitter:image" content="{{meta.image}}">
  <meta itemprop="image" content="{{meta.image}}">
  <meta name="twitter:site" content="{{meta.twitterHandle}}">
  <meta property="og:type" content="website">
  
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.io">
  <link rel="dns-prefetch" href="//res.cloudinary.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//google-analytics.com">
 
  <link rel="preload" href="./styles/app.css" as="style" onload="this.rel='stylesheet'">
  {{>loadcss}}
</head>
<body>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Martin Malinda",
  "disambiguatingDescription": "Freelance JavaScript developer and creative coder",
  "jobTitle": "Freelance JavaScript developer and creative coder",
  "url" : "https://wwww.martinmalinda.cz",
  "birthDate": "1992-10-19",
  "birthPlace": {
    "@type": "Place",
    "name": "Prague"
  },
  "email": "malindacz@gmail.com",
  "gender": "Male",
  "makesOffer": {
    "@type": "Offer",
    "name": "Web development & design"
  },
  "nationality": {
    "@type": "Country",
    "name": "Czech Republic"
  },
  "url": "https://www.martinmalinda.cz",
  "sameAs" : [
    "https://twitter.com/martinmalindacz",
    "https://plus.google.com/u/0/112154859293380842041",
    "https://github.com/martinmalinda"
  ]
}
</script>
  <main> 